body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    line-height: 2em;
    margin: 0;
    text-align: center;
    color: #fff;
}

/* First spinner */
.section
{
    background-color: green;
}

.loader
{
    width: 50px;
    height: 50px;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    
    border: #ffffff79 10px solid;
    
}

.loader-quart
{  
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
}

/* Second spinner */
.section-2
{
    background-color: blue;
    height: 120px;
}

.loader-2
{
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    border: #ffffff00 10px solid;
}

.loader-quart-2
{
    border-radius: 50%;
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation: spin 5s linear infinite;
}

.loader-3
{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    display: inline-block;
    border: #ffffff00 10px solid;
    position: relative;
}

.loader-quart-3
{
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    position: absolute;
    border-radius: 50%;
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation: spin 1s linear infinite;
}

.section-3{
    line-height: 300%;
    background-color: red;
    height: 150px;
}

.loader-4{
    border: #ffffff00 5px solid;
    display: inline-block;
    height: 90px;
    width: 90px;
    position: relative;
    vertical-align: middle;
    animation: spin 10s linear infinite;
}

.loader-quart-4{
    border-radius: 50%;
    border-top-color: #fff;
}

.loader-5
{
    height: 70px;
    width: 70px;
    border: #ffffff00 5px solid;
    display: inline-block;
    position: absolute;
    animation: spin 5s linear infinite;
}

.loader-quart-5
{
    border-radius: 50%;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #ffffffd7;
}

.loader-6
{
    height: 50px;
    width: 50px;
    border: #ffffff00 5px solid;
    display: inline-block;
    position: absolute;
    animation: spin 10s linear infinite;
}

.loader-quart-6
{
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 50%;
    border-top-color: #ffffffb8;
}


/* Loading bar */ 
.section-loading-bar
{
    background-color: violet;
}

.loading-bar
{
    background-color: #fff;
    height: 60px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

.first
{
    animation: loading-bar 1s linear infinite;
}
.second
{
    animation: loading-bar 1s linear -.20s infinite;
}

.third
{
    animation: loading-bar 1s linear -.40s infinite;
}

.fourth
{
    animation: loading-bar 1s linear -.80s infinite;
}



/* 
    UN page Inspira on LMS registration
 */
 
.UN{
    position: relative;
    height: 150px;
    color: aqua;
    background-color: #e1e1f3;
}
.un-bar{
    height: 100px;
    width: 100px;
    display: inline-flex;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
}

.UN-loadingBar-1
{
    position: absolute;
    top: 0;
    bottom: 5px;
    border: #070fecae solid 25px;
    border-top-color:  #070fecae;
    border-right-color:  #070fecae;
    animation: spin 4s linear infinite;
}
.UN-loadingBar-2
{
    position: absolute;
    top: 0;
    bottom: 5px;
    border: transparent solid 25px;
    border-top-color:  #070fecae;
    border-left-color:  #070fecae;
    animation: spin 3s linear infinite;
}
.UN-loadingBar-3
{
    position: absolute;
    top: 0;
    bottom: 5px;
    border: transparent solid 25px;
    border-bottom-color:  #070fecae;
    border-right-color:  #070fecae;
    animation: spin 1s linear infinite;
}
.UN-loadingBar-4
{
    position: absolute;
    top: 0;
    bottom: 5px;
    border: transparent solid 25px;
    border-bottom-color:  #070fecae;
    border-left-color:  #070fecae;
    animation: spin 1s linear infinite;
}




@keyframes loading-bar {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

